body {
    background-color: #483D8B;
    margin: none;
    font-family: 'Audiowide', sans-serif;
}

#principal {
    background-color: #708090;
    width: 99%;
    height: 600px;
    margin: 10px auto;
    margin-top: 0px;
}

img {
    margin: 10px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a {
    color: #3ca9e2;
}

.perfis {
    background-color: #2F4F4F;
    width: 27%;
    height: 80%;
    position: relative;
    left: 50px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.perfis:hover {
    width: 40%;
    cursor: pointer;
}

#ftPedro {
    border-radius: 500px;
    height: 250px;
}

#ftMat {
    border-radius: 800px;
    height: 250px;
}