body {
  background-color:  	#7B68EE;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #2b3e51;
}

h2 {
  text-align: center;
}

p {
  position: relative;
}

a,
a:link,
a:visited,
a:active {
  color: #3ca9e2;
}

#login-form-wrap {
  background-color:  	#708090;
  width: 45%;
  margin: 50px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form {
  padding: 0 60px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

#username,
#password {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  color: #1C1C1C;
  border: 1px solid #1C1C1C;
  font-style: normal;
  font-size: 16px;
  position: relative;
}

#username:focus,
#password:focus {
  border-color: #3ca9e2;
  transition: all 0.9s ease;
}

#username:focus:invalid,
#password:focus:invalid {
  border-color: #cc1e2b;
  transition: all 0.9s ease;
}

#username:valid ~ .validation span,
#password:valid ~ .validation span {
  background: #0C0;
  position: absolute;
  transition: all 0.9s ease;
}

#username:valid ~ .validation span:first-child,
#password:valid ~ .validation span:first-child {
  top: 30px;
  left: 14px;
  width: 20px;
  height: 3px;
  transform: rotate(-45deg);
}
#username:valid ~ .validation span:last-child,
#password:valid ~ .validation span:last-child {
  top: 35px;
  left: 8px;
  width: 11px;
  height: 3px;
  transform: rotate(45deg);
}

.validation {
  position: absolute;
  height: 60px;
  width: 30px;
  right: 15px;
  top: 0px;
}

#login {
  border: none;
  background-color: #4169E1;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  text-align: center;
}

#login:hover {
  background-color: #2c8abc;
  transition: all 0.9s ease;
}

#create-account-wrap {
  background-color: #B0C4DE;
  color: #1C1C1C;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}