body{
    background-color: #7B68EE;
    margin: none;
}
#principal{
    background-color: #708090;
    width: 95%;
    margin: 20px auto;
    margin-top: 0px;
}
img{
    margin: 10px;
}
.perfis{
    background-color:  	#4F4F4F;
    width: 60%;
    height: 40%;
    position: relative;
    left: 50px;
    margin: 10px;
    border-radius: 20px;
}
#ftPedro{
    border-radius: 500px;
    height: 250px;
}
#ftMat{
    border-radius: 800px;
    height: 230px;
    width: 240px;
}
